# 조달정보개방포털

In [97]:
import numpy as np
import pandas as pd

year = np.arange(13) + 2010
year = year.astype('str')
month_day = [['0101','0331'], ['0401','0630'], ['0701','0930'], ['1001','1231']]

a = year[0]
b = month_day[0][0]
c = month_day[0][1]

df = pd.DataFrame()
df_1 = pd.DataFrame()

for i in year :
    for j, k in month_day :
        try : 
            df_1 = pd.read_csv("../data/base_data/{0}.csv".format(i+j+'-'+i+k))
            df = pd.concat([df, df_1])
        except : 
            pass

df = df.reset_index(drop=True)

len(df)

6165

In [98]:
for i in range(len(df)) :
    if df.loc[i, '개찰순위'] != 1 : 
        df = df.drop(i)
        
df = df.reset_index(drop=True)

len(df)

452

In [99]:
df.columns

Index(['등록유형', '조달구분', '공고시스템명', '입찰공고번호', '입찰공고차수', '공고게시일자', '공고명', '공사현장',
       '입찰방식', '낙찰자결정적용법규', '낙찰자결정방법', '입찰계약방법', '긴급공고여부', '업종제한여부', '업종제한내용',
       '지역의무공동도급여부', '지역제한내용', '공동도급구성방식명', '기초금액', '추정금액', '추정가격', '예정가격',
       '입찰서개시일자', '입찰서마감일자', '개찰일자', '낙찰하한율', '공고기관명', '실수요기관명', '수요기관명',
       '수요기관코드', '수요기관구분', '수요기관지역명', '참가수', '개찰순위', '입찰업체명', '입찰업체사업자등록번호',
       '입찰업체기업구분명', '입찰일자', '입찰시간', '입찰률', '입찰금액', '부적격여부', '부적격사유', '낙찰여부',
       '참조번호', '조달요청번호', '공공조달분류명'],
      dtype='object')

In [100]:
df = df[['공고게시일자', '입찰공고번호','기초금액','예정가격','낙찰하한율','입찰률','입찰금액']]

In [101]:
df.head()

,공고게시일자,입찰공고번호,기초금액,예정가격,낙찰하한율,입찰률,입찰금액
0,20100119,20100110395,1.296000e+09,1292555950,86.745,86.882,1.122999e+09
1,20100119,20100110411,1.596000e+09,1587553200,86.745,86.747,1.377163e+09
2,20100222,20100230676,4.948100e+08,494546575,86.745,88.090,4.356500e+08
3,20100319,20100324094,4.910000e+08,488856825,86.745,86.839,4.245231e+08
4,20100331,20100340192,9.697963e+08,971156500,86.745,86.818,8.431425e+08

In [102]:
df.isnull().sum()

공고게시일자    0
입찰공고번호    0
기초금액      2
예정가격      0
낙찰하한율     4
입찰률       0
입찰금액      0
dtype: int64

In [103]:
df[df['기초금액'].isnull()].index

Int64Index([65, 254], dtype='int64')

In [104]:
df[df['낙찰하한율'].isnull()].index

Int64Index([65, 134, 207, 254], dtype='int64')

In [105]:
df = df.drop([65, 134, 207, 254])
df = df.reset_index(drop=True)

In [106]:
df.isnull().sum()

공고게시일자    0
입찰공고번호    0
기초금액      0
예정가격      0
낙찰하한율     0
입찰률       0
입찰금액      0
dtype: int64

# 나라장터

In [73]:
df = df[df['공고게시일자'] > 20200413]

df = df.reset_index(drop = True)

In [72]:
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

import os
import sys

## A

In [ ]:
for i in range(113, len(df)) :
    
    driver = webdriver.Chrome('chromedriver.exe')
    driver.implicitly_wait(5) # seconds
    driver.get('https://www.g2b.go.kr/index.jsp')

    elements = driver.find_element(By.XPATH, '//*[@id="bidno"]')
    elements.send_keys(str(df['입찰공고번호'][i]))

    check_box_1 = driver.find_element(By.XPATH, '//*[@id="searchForm"]/div/fieldset[2]/dl/dd/a[1]')
    check_box_1.click()

    driver.switch_to.frame('sub')
    driver.switch_to.frame('main')
    driver.find_element(By.XPATH, '//*[@id="resultForm"]/div[3]/table/tbody/tr/td[2]/div/a').click()

    # ------------------------------------------------------------------------------------------------

    for j in range(10):
        try:
            if driver.find_elements(By.CLASS_NAME, 'btn_mdl')[j].text =='기초금액 조회' :
                driver.find_elements(By.CLASS_NAME, 'btn_mdl')[j].click()

                driver.switch_to.window(driver.window_handles[1])
                
                break
        except:
            pass
        
    k = driver.find_elements(By.CLASS_NAME, 'evaluate_list')[0].text
    
    if str(k).split()[1][0] in 'A' :
        A_price = str(k).split()[1][1:]
        a_p = ''
        for l in A_price:
            if l != ',':
                a_p += l

        A_price = float(a_p)
        df.loc[i, 'A'] = A_price
        print(A_price)
        
    driver.quit()

## price_range : 예가범위

In [ ]:
for i in n_list :
    
    driver = webdriver.Chrome('chromedriver.exe')
    driver.implicitly_wait(5) # seconds
    driver.get('https://www.g2b.go.kr/index.jsp')

    elements = driver.find_element(By.XPATH, '//*[@id="bidno"]')
    elements.send_keys(str(df['입찰공고번호'][i]))

    check_box_1 = driver.find_element(By.XPATH, '//*[@id="searchForm"]/div/fieldset[2]/dl/dd/a[1]')
    check_box_1.click()

    driver.switch_to.frame('sub')
    driver.switch_to.frame('main')
    try :
        driver.find_element(By.XPATH, '//*[@id="resultForm"]/div[3]/table/tbody/tr[2]/td[2]/div/a').click()
    except :
        driver.find_element(By.XPATH, '//*[@id="resultForm"]/div[3]/table/tbody/tr/td[2]/div/a').click()
    # ------------------------------------------------------------------------------------------------
    
    main = driver.window_handles

    for t in main :
        if t != main[0] :
            driver.switch_to.window(t)
            driver.close()
    try :
        driver.find_element(By.XPATH, '//*[@id="epDialogBtns"]/a/span').click()
    except :
        pass
    
    for j in range(10):
        try:
            if driver.find_elements(By.CLASS_NAME, 'btn_mdl')[j].text =='기초금액 조회' :
                driver.find_elements(By.CLASS_NAME, 'btn_mdl')[j].click()

                driver.switch_to.window(driver.window_handles[1])
                
                break
        except:
            pass
    try : 
        df.loc[i, 'price_range'] = float(driver.find_elements(By.CLASS_NAME, 'blue')[0].text[2])
    except :
        pass
    
    print(i, df.loc[i, 'price_range'])
        
    driver.quit()

In [ ]:
df.to_csv("../data/final_data/final_001.csv", encoding='cp949', index=False)

In [110]:
df = pd.read_csv("../data/final_data/final_001.csv", encoding='cp949')

In [111]:
df.head()

,공고게시일자,입찰공고번호,기초금액,예정가격,낙찰하한율,입찰률,입찰금액,A,price_range
0,20200506,20200502763,135000000,134987200,87.745,88.141,118980000,3582070,3
1,20200518,20200521699,2575059000,2548078875,86.745,88.067,2244023000,167405483,3
2,20200520,20200525029,2356003900,2359549725,86.745,87.669,2068597000,159074832,3
3,20200520,20200525797,1593710000,1579139550,86.745,87.773,1386059000,82636819,3
4,20200521,20200527890,788765200,791472675,86.745,87.642,693663800,52344469,3

# 추가

In [115]:
pd.options.display.float_format = '{:.5f}'.format

In [122]:
df[['입찰률','낙찰하한율']] *= 0.01

In [123]:
# (입찰금액 - A) / (예정가격 -A) >= 낙찰하한율
# 최소 낙찰하한선 입찰금액 보다 높게 입찰금액을 써야한다.
df['낙찰하한선입찰금액'] = round((df['예정가격']-df['A']) * df['낙찰하한율'] + df['A'])

# 입찰금액 = (예정가격 - A) * 낙찰하한율 + A
# 1순위업체가 생각한 예정가격 구하기
df['1순위예가'] = round(df['A'] + (df['입찰금액']-df['A']) / df['낙찰하한율'])

# 사정률 = 예정가격 / 기초금액 * 100
df['예가사정률'] = df['예정가격'] / df['기초금액'] * 100
df['1순위사정률'] = df['1순위예가'] / df['기초금액'] * 100

In [136]:
df.iloc[:,9:].head()

         낙찰하한선입찰금액            1순위예가     예가사정률    1순위사정률
0  118883501.00000  135097176.00000  99.99052 100.07198
1 2232520617.00000 2561338871.00000  98.95225  99.46719
2 2067876778.00000 2360380000.00000 100.15050 100.18574
3 1380778113.00000 1585227379.00000  99.08575  99.46774
4  693501231.00000  791660085.00000 100.34325 100.36701

In [ ]:
df.to_csv("../data/final_data/final_001.csv", encoding='cp949', index=False)